﻿@{
    ViewData["Title"] = "Creează";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
</head>
<body>
<div class="content">
    <div class="tip_cerere" onclick="location.href = '/Cereri'">
        <span>Înapoi</span>
    </div>
</div>
    
<div class="row">
    <div class="col-md-4">
        <div class="myselect select">
            <select id="cereriDropDownList" name="types" class="dropdown">
                <option class="hoveroption" disabled selected hidden>Selectează tipul</option>
                <option class="hoveroption" value="AdeverintaStudent">Adeverință student</option>
                <option class="hoveroption" value="CTP">CTP</option>
                <option class="hoveroption" value="LegitimatieTren">Legitimație tren</option>
                <option class="hoveroption" value="Marire">Mărire</option>
                <option class="hoveroption" value="MutareGrupa">Mutare grupă</option>
                <option class="hoveroption" value="SchimbareOptionale">Schimbare opționale</option>
            </select>
        </div>
        <div id="cereriPartial"></div>
    </div>
    </div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/create.js")"></script>
}

@section Styles{
    <link href="@Url.Content("~/css/create.css")" rel="stylesheet" />
}
