﻿@model Data.Core.Domain.Cerere

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cerere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialaTatalui)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialaTatalui)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumarMatricol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarMatricol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerieBuletin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerieBuletin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumarBuletin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarBuletin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stare)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
