﻿@{
    ViewData["Title"] = "Cereri";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/cereri-index.css">
</head>
<body>
    @if (!User.IsInRole("Admin") && !User.IsInRole("Secretar"))
    {
        <p class="choice text1">Alege un tip pentru a vizualiza propriile cereri:</p>
    }
    else
    {
        <p class="choice text1">Alege un tip pentru a vizualiza cererile depuse:</p>
    }
    <div class="content">
        <div class="tip_cerere" onclick="location.href = '/CereriAdeverintaStudent'">
            <img src="~/images/student.png" style="width: 60px; height: 60px; margin-left: 20px; margin-right: 8px;">
            <span>Adeverință student</span>
        </div>
        <div class="tip_cerere" onclick="location.href = '/CereriCTP'">
            <img src="~/images/bus.png" style="width: 50px; height: 50px; margin-left: 20px; margin-right: 8px;">
            <span>Transport public</span>
        </div>
        <div class="tip_cerere" onclick="location.href = '/CereriLegitimatieTren'">
            <img src="~/images/train.png" style="width: 50px; height: 60px; margin-left: 20px; margin-right: 8px;">
            <span>Legitimație tren</span>
        </div>
        <div class="tip_cerere" onclick="location.href = '/CereriMarire'">
            <img src="~/images/test.png" style="width: 50px; height: 50px; margin-left: 20px; margin-right: 8px;">
            <span>Mărire notă</span>
        </div>
        <div class="tip_cerere" onclick="location.href = '/CereriMutareGrupa'">
            <img src="~/images/group.png" style="width: 50px; height: 50px; margin-left: 20px; margin-right: 8px;">
            <span>Mutare grupă</span>
        </div>
        <div class="tip_cerere" onclick="location.href = '/CereriSchimbareOptionale'">
            <img src="~/images/optional.png" style="width: 55px; height: 55px; margin-left: 20px; margin-right: 8px;">
            <span>Schimbare opționale</span>
        </div>
    </div>
    @if (!User.IsInRole("Admin") && !User.IsInRole("Secretar"))
    {
        <p class="choice">sau</p>
        <div class="tip_cerere create" onclick="location.href = '/Cereri/Create'">
            <img src="~/images/form.png" style="width: 55px; height: 55px; margin-left: 20px; margin-right: 8px;">
            <span>Depune o cerere</span>
        </div>
    }
</body>
</html>