﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/create.css">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
</head>
<body>
    <div class="actiune">
        <h2>Administrează-ți contul</h2>
        <h4>Modifică setările contului</h4>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @RenderSection("Scripts", required: false)
}

