﻿@model Data.Core.Domain.CerereMutareGrupa

@{
    ViewData["Title"] = "Șterge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
</head>
<div class="content">
    <div class="tip_cerere" onclick="location.href = '/CereriMutareGrupa'">
        <span>Înapoi</span>
    </div>
</div>
<div class="actiune">
    <h3>Sunteți sigur că doriți să ștergeți cererea?</h3>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Grupa veche:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupaVeche)

        </dd>
        <dt>
            Grupa nouă:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupaNoua)
        </dd>
        <dt>
            Nume:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt>
            Prenume:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt>
            Inițiala tatălui:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialaTatalui)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Număr matricol:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarMatricol)
        </dd>
        <dt>
            Serie buletin:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerieBuletin)
        </dd>
        <dt>
            Număr buletin:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarBuletin)
        </dd>
        <dt>
            Stare:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stare)
        </dd>
    </dl>
    <hr/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input class="tip_cerere" type="submit" value="Șterge"/>
    </form>
</div>
