﻿@using Data.Core.Domain
@model CerereMutareGrupa
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Detalii";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
    <script src="~/js/pop-up.js"></script>
</head>
<div class="content">
    <div class="tip_cerere" onclick="location.href = '/CereriMutareGrupa'">
        <span>Înapoi</span>
    </div>
</div>
<div class="actiune">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Grupa veche: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupaVeche)
        </dd>
        <dt>
            Grupa nouă: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupaNoua)
        </dd>
        <dt>
            Nume:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt>
            Prenume:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt>
            Inițiala tatălui:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialaTatalui)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Număr matricol:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarMatricol)
        </dd>
        <dt>
            Serie buletin:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerieBuletin)
        </dd>
        <dt>
            Număr buletin:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarBuletin)
        </dd>
        <dt>
            Stare:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stare)
        </dd>
    </dl>
</div>
<hr />
@if (User.IsInRole("Admin") || User.IsInRole("Secretar") && Model.Stare == Cerere.StareCerere.Trimisa)
{
    <form asp-action="SetStatus" asp-controller="CereriMutareGrupa" style="display:inline;">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="status" value="@Cerere.StareCerere.Aprobata" />
        <button style="width: 100px; height: 50px; font-size: 17px;margin-bottom: 15px;" type="submit" class="btn btn-xs btn-success">Acceptă</button>
    </form>
    <button id="myBtn" style="width: 100px; height: 50px; font-size: 17px;margin-bottom: 15px; margin-left: 10px;" class="btn btn-xs btn-danger">Respinge</button>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="text-align: center; font-size: 20px; color: white">Vă rugăm să completați motivul respingerii:</p>
            <form asp-action="SetStatus" asp-controller="CereriMutareGrupa" style="display:inline;">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="status" value="@Cerere.StareCerere.Respinsa" />
                <input class="motiv" type="text" name="motiv" autofocus required/>
                <button id="respinge" style="width: 100px; height: 50px; font-size: 17px; margin-top: 10px;" class="btn btn-xs btn-danger">Respinge</button>
            </form>
        </div>
    </div>
}
<div>
    @if (User.IsInRole("Admin") || !User.IsInRole("Secretar") && Model.Stare == Cerere.StareCerere.Trimisa)
    {
        <div class="content">
            <a class="tip_cerere" asp-action="Edit" asp-route-id="@Model.Id">
                <span>Editează</span>
            </a>
        </div>
    }
</div>