﻿@model Data.Core.Domain.CerereMarire

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCerereMarire">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Materie" class="control-label"></label>
                <input asp-for="Materie" class="form-control" />
                <span asp-validation-for="Materie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialaTatalui" class="control-label"></label>
                <input asp-for="InitialaTatalui" class="form-control" />
                <span asp-validation-for="InitialaTatalui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarMatricol" class="control-label"></label>
                <input asp-for="NumarMatricol" class="form-control" />
                <span asp-validation-for="NumarMatricol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerieBuletin" class="control-label"></label>
                <input asp-for="SerieBuletin" class="form-control" />
                <span asp-validation-for="SerieBuletin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarBuletin" class="control-label"></label>
                <input asp-for="NumarBuletin" class="form-control" />
                <span asp-validation-for="NumarBuletin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Înapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
