﻿@model Data.Core.Domain.CerereAdeverintaStudent

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
</head>

<div class="actiune">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateCerereAdeverintaStudent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AnUniversitar" class="control-label">An universitar</label>
                    <input asp-for="AnUniversitar" class="form-control" placeholder="1" />
                    <span asp-validation-for="AnUniversitar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotivEliberare" class="control-label">Motiv eliberare</label>
                    <input asp-for="MotivEliberare" class="form-control" placeholder="Pentru locul de munca" />
                    <span asp-validation-for="MotivEliberare" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nume" class="control-label">Nume</label>
                    <input asp-for="Nume" class="form-control" placeholder="Popescu" />
                    <span asp-validation-for="Nume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenume" class="control-label">Prenume</label>
                    <input asp-for="Prenume" class="form-control" placeholder="Ion" />
                    <span asp-validation-for="Prenume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InitialaTatalui" class="control-label">Inițiala tatălui</label>
                    <input asp-for="InitialaTatalui" class="form-control" placeholder="M." />
                    <span asp-validation-for="InitialaTatalui" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="ionpopescu@gmail.com" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumarMatricol" class="control-label">Număr matricol</label>
                    <input asp-for="NumarMatricol" class="form-control" placeholder="12345678SL123456" />
                    <span asp-validation-for="NumarMatricol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SerieBuletin" class="control-label">Serie buletin</label>
                    <input asp-for="SerieBuletin" class="form-control" placeholder="MZ" />
                    <span asp-validation-for="SerieBuletin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumarBuletin" class="control-label">Număr buletin</label>
                    <input asp-for="NumarBuletin" class="form-control" placeholder="123456" />
                    <span asp-validation-for="NumarBuletin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="tip_cerere" type="submit" value="Creează" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/css/create.css")" rel="stylesheet" />
}
