﻿@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/create.js")"></script>
}

@section Styles{
    <link href="@Url.Content("~/css/create.css")" rel="stylesheet" />
}
