﻿@{
    ViewData["Title"] = "Despre";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/general.css">
</head>
<body>
    <img src="~/images/background.jpg" ; class=" background-image">
    <div class="div-card">
        <h2>@ViewData["Title"]</h2><hr />
        <p class="descriere">
            Știm cu toții că te-ai săturat să aștepți la coadă în fața secretariatului
            pentru o amărâtă de adeverință. Dar acum există o alternativă.
        </p>
        <p class="descriere">
            Cu ajutorul aplicației noastre, vei putea depune cererile online, fiind nevoit
            să te deplasezi fizic doar până la laptop (și ca să ridici cererea, nu fii leneș!).
            După ce depui cererea, aceasta va fi preluată de o persoană de la secretariat și va
            fi procesată în cel mai scurt timp. Vei fi înștiințat de modificarea stării
            cererii prin e-mail.
        </p>
        <br/>
        <p>Cu drag, echipa RAD</p>
    </div>
</body>
</html>
