﻿@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/general.css">
</head>
<body>
    <img src="~/images/background.jpg" ; class="background-image">
    <div class="div-card">
        <h2>@ViewData["Title"]</h2><hr />
        <address class="adresa">
            <strong>Adresa:</strong> Strada General Henri Mathias Berthelot 16, Iași 700259
        </address>

        <address class="adresa">
            <strong>Suport:</strong> <a href="mailto:virtualsecretaryinfo@gmail.com">
                virtualsecretaryinfo@gmail.com
            </a><br/>
        </address>
    </div>
</body>
</html>
