﻿@{
    ViewData["Title"] = "Acasă";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/general.css">
</head>
<body>
    <img src="images/background.jpg"; class="background-image">
    <div class="content">
        @if (!User.IsInRole("Admin") && !User.IsInRole("Secretar"))
        {
            <p class="index-text1">Acum poți depune cereri mai ușor.</p>
            <p class="index-text2">Începe acum</p>
            <button class="btn-index home-btns" type="button" onclick="location.href = '/Cereri/Create'">Depune o cerere</button>
            <button class="btn-index home-btns" type="button" onclick="location.href = '/Cereri'">Cererile mele</button>
        }
        else
        {
            <p class="index-text1">Acum gestionarea cererilor este mai ușoară.</p>
            <p class="index-text2">Începe acum</p>
            <button class="btn-index" type="button" onclick="location.href = '/Cereri'">Mergi către cereri</button>
        }
    </div>
</body>
</html>