﻿@model Data.Core.Domain.CerereAdeverintaStudent

@{
    ViewData["Title"] = "Editează";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
</head>
<div class="content">
    <div class="tip_cerere" onclick="location.href = '/CereriAdeverintaStudent'">
        <span>Înapoi</span>
    </div>
</div>
<div class="actiune">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AnUniversitar" class="control-label">An universitar</label>
                    <input asp-for="AnUniversitar" class="form-control" />
                    <span asp-validation-for="AnUniversitar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotivEliberare" class="control-label">Motiv eliberare</label>
                    <input asp-for="MotivEliberare" class="form-control" />
                    <span asp-validation-for="MotivEliberare" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nume" class="control-label">Nume</label>
                    <input asp-for="Nume" class="form-control" />
                    <span asp-validation-for="Nume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenume" class="control-label">Prenume</label>
                    <input asp-for="Prenume" class="form-control" />
                    <span asp-validation-for="Prenume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InitialaTatalui" class="control-label">Inițiala tatălui</label>
                    <input asp-for="InitialaTatalui" class="form-control" />
                    <span asp-validation-for="InitialaTatalui" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumarMatricol" class="control-label">Număr matricol</label>
                    <input asp-for="NumarMatricol" class="form-control" />
                    <span asp-validation-for="NumarMatricol" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SerieBuletin" class="control-label">Serie buletin</label>
                    <input asp-for="SerieBuletin" class="form-control" />
                    <span asp-validation-for="SerieBuletin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumarBuletin" class="control-label">Număr buletin</label>
                    <input asp-for="NumarBuletin" class="form-control" />
                    <span asp-validation-for="NumarBuletin" class="text-danger"></span>
                </div>
                <div class="form-group content">
                    <input class="tip_cerere" type="submit" value="Salvează"/>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
