﻿@using Data.Core.Domain
@model IEnumerable<CerereAdeverintaStudent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="~/css/table.css">
    <link rel="stylesheet" type="text/css" href="~/css/tip-cereri-index.css">
</head>
<body>
    <div class="content">
        @if (!User.IsInRole("Admin") && !User.IsInRole("Secretar"))
        {
            <div id="tipCerere" data-tip="AdeverintaStudent" class="tip_cerere cerere" onclick="location.href = '/Cereri/Create'">
                <span>Depune o cerere nouă</span>
            </div>
        }
        <div class="tip_cerere" onclick="location.href = '/Cereri'">
            <span>Înapoi</span>
        </div>
    </div>
    <table>
        <thead class="tbl-header">
            <tr>
                <th> An universitar </th>
                <th> Motiv eliberare </th>
                <th> Nume </th>
                <th> Prenume </th>
                <th> Inițiala tatălui </th>
                <th> Email </th>
                <th> Număr matricol </th>
                <th> Serie buletin </th>
                <th> Număr buletin </th>
                <th> Stare </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbl-content">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnUniversitar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotivEliberare)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitialaTatalui)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumarMatricol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerieBuletin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumarBuletin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stare)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || !User.IsInRole("Secretar") && item.Stare == Cerere.StareCerere.Trimisa)
                        {
                            <a style="color: white" asp-action="Edit" asp-route-id="@item.Id">Editează</a>
                        }
                        <a style="color: white" asp-action="Details" asp-route-id="@item.Id">Detalii</a>
                        @if (User.IsInRole("Admin") || !User.IsInRole("Secretar") && item.Stare == Cerere.StareCerere.Trimisa)
                        {
                            <a style="color: white" asp-action="Delete" asp-route-id="@item.Id">Șterge</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/index.js")"></script>
}