﻿@{
    ViewData["Title"] = "Confirmare parolă uitată";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/login-register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <img src="~/images/background.jpg" class="background-image">
    <div class="container-background">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <p class="confirmare"> Vă rugăm să verificați email-ul pentru a vă reseta parola. </p>
    </div>
</body>
</html>
