﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Ți-ai uitat parola?";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/login-register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <img src="~/images/background.jpg" class="background-image">
    <div class="container-background">
        <h2>@ViewData["Title"]</h2>
        <h4>Completează email-ul.</h4>
        <hr/>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="ionpopescu@gmail.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <hr />
            <button class="btn-index" type="submit" class="btn btn-default">Trimite</button>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
