﻿@{
    ViewData["Title"] = "Locked out";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/create.css">
</head>
<body>
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
</body>
</html>