﻿@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/create.css">
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p>
        You have requested to login with a recovery code. This login will not be remembered until you provide
        an authenticator app code at login or disable 2FA and login again.
    </p>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RecoveryCode"></label>
                    <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="RecoveryCode" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
