﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Înregistrare";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/login-register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <img src="~/images/background.jpg" class="background-image">
    <div class="container-background">
        <h2>@ViewData["Title"]</h2>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Creează un cont nou pentru a te putea loga.</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="ionpopescu@gmail.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Parolă</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirmă parola</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <hr/>
            <button class="btn-index" type="submit" class="btn btn-default">Înregistrează-te</button>
        </form>
    </div>
</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
