﻿@{
    ViewData["Title"] = "Confirmare resetare parolă";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/login-register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <img src="~/images/background.jpg" class="background-image">
    <div class="container-background">
        <h2>@ViewData["Title"]</h2>
        <hr/>
        <p class="confirmare">
            Parola dumneavoastră a fost resetată. Vă rugăm <a asp-action="Login">apăsați aici pentru a va loga</a>.
        </p>
    </div>
</body>
</html>