﻿body {
    background: -webkit-linear-gradient(left, #0F0700, #a43931);
    background: linear-gradient(to right, #0F0700, #a43931);
    margin-top: 3%;
    font-size: 15px;
    font-family: "Roboto";
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.tip_cerere {
    text-shadow: 1px 1px 3px #000000;
    width: 300px;
    height: 100px;
    background: #f15b2a;
    margin-bottom: 20px;
    display: table;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.tip_cerere:hover {
    background: #f15b2a;
    background-image: -webkit-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -moz-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -ms-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -o-linear-gradient(top, #f15b2a, #fa7952);
    background-image: linear-gradient(to bottom, #f15b2a, #fa7952);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    text-decoration: none;
}

.tip_cerere img{
    margin-top: 20%;
    display: table-cell;
    vertical-align: middle;
}

.tip_cerere span {
     display: table-cell;
     vertical-align: middle;
}

.choice {
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.create {
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.text1 {
    margin-top: 40px;
}

@media screen and (max-width: 640px) {
    .tip_cerere {
        margin: 15px auto;
    }
}