﻿body {
    font-family: "Roboto";
    font-size: 15px; 
}

.div-card {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.background-image {
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.btn-index {
    /*-webkit-border-radius: 5;
    -moz-border-radius: 5;*/
    text-shadow: 1px 1px 3px #000000;
    /*-webkit-box-shadow: 1px 1px 3px #9c949c;
    -moz-box-shadow: 1px 1px 3px #9c949c;*/
    /*box-shadow: 1px 1px 3px #9c949c;*/
    box-shadow: none;
    color: #ffffff;
    font-size: 20px;
    background: #f15b2a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.btn-index:hover {
    background: #f15b2a;
    background-image: -webkit-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -moz-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -ms-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -o-linear-gradient(top, #f15b2a, #fa7952);
    background-image: linear-gradient(to bottom, #f15b2a, #fa7952);
    text-decoration: none;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


.content {
    float: right;
    background: rgba(255, 255, 255, 0.35);
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
    width: 40%;
    z-index: 2;
    padding: 0 10px;
}

.index-text1 {
    margin-top: 40%;
    text-align: left;
    margin-left: 10%;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.index-text2 {
    margin-top: 20%;
    text-align: center;
    font-size: 20px;
}

.descriere {
    font-size: 20px;
}

.adresa {
    font-size: 20px;
}

.home-btns {
    width: 190px;
    text-align: center;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

@media screen and (max-width: 640px) {
    .content {
        margin: 15px auto;
        float: none;
        width: 80%;
    }
}