﻿body {
    font-family: "Roboto";
    font-size: 15px;
}

.container-background {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 2;
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.background-image {
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.btn-index {
    text-shadow: 1px 1px 3px #000000;
    color: #ffffff;
    font-size: 20px;
    background: #f15b2a;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-index:hover {
    background: #f15b2a;
    background-image: -webkit-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -moz-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -ms-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -o-linear-gradient(top, #f15b2a, #fa7952);
    background-image: linear-gradient(to bottom, #f15b2a, #fa7952);
    text-decoration: none;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.confirmare {
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}