﻿table{
    width:100%;
}

.tbl-header {
    background-color: rgba(255,255,255,0.5);
}
.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.3);
}
th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
td {
    padding: 15px;
    text-align: center; 
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/*.table-scroll {
    position: relative;
    max-width: 1280px;
    width:100%;
    margin: auto;
    display:table;
}
.table-wrap {
    width: 100%;
    display:block;
    height: 300px;
    overflow: auto;
    position:relative;
    z-index:1;
}
.table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}
.table-scroll th, .table-scroll td {
    padding: 5px 10px;
    border: 0.1px solid #000;
    vertical-align: top;
}
.faux-table table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.faux-table table + table {
    top: auto;
    bottom: 0;
}
    .faux-table table tbody {
        visibility: hidden;
        border-color: transparent;

    }
.faux-table table + table thead {
    visibility: hidden;
    border-color: transparent;
}
.faux-table table{
    visibility:visible;
    border-color:#000;
}
.faux-table thead th {
    background-color: rgba(255,255,255,0.5);
}
.faux-table {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow-y:scroll;

}
.faux-table thead, .faux-table thead th{
    position:relative;
    z-index:2;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/