﻿body {
    background: -webkit-linear-gradient(left,#0F0700, #a43931);
    background: linear-gradient(to right,#0F0700, #a43931);
    margin-top: 3%;
    font-family: "Roboto";
    font-size: 15px;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.tip_cerere {
    text-shadow: 1px 1px 3px #000000;
    width: 180px;
    height: 50px;
    background: #f15b2a;
    margin-bottom: 20px;
    display: table;
    font-size: 17px;
    border: none;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.tip_cerere:hover {
    background: #f15b2a;
    background-image: -webkit-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -moz-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -ms-linear-gradient(top, #f15b2a, #fa7952);
    background-image: -o-linear-gradient(top, #f15b2a, #fa7952);
    background-image: linear-gradient(to bottom, #f15b2a, #fa7952);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    text-decoration: none;
}

.tip_cerere span {
    display: table-cell;
    vertical-align: middle;
}

.cerere {
    font-size: 13px;
}

#cereriPartial {
    margin-top: 20px;
}

/*.dropdown {
    border-radius: 10px;
    background-color: #423935;
    color: white;
    height: 50px;
    width: 175px;
    text-align: center;
}*/

/*pop-up pentru buttonul respinge*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    top: 27%;
    background-color: #333;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.motiv {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#respinge {
    display: block;
    margin: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #423935;
    background-image: none;
}

.myselect {
    position: relative;
    display: block;
    width: 210px;
    height: 3em;
    line-height: 3;
    background: #423935;
    overflow: hidden;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #705f58;
    pointer-events: none;
}

.select:hover::after {
    color: #f39c12;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.hoveroption {
    color: #ffffff;
}

option:hover { background: #705f58; }

.actiune {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}